<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Email confirmado</h1>
    <div class="confirmation-message">
      <hr/>
      <p>¡Felicidades, tu cuenta ya está verificada! Ahora tienes acceso completo a tu cuenta.</p>
      <p><a class="btn btn-outline-info" href="/">Ir al panel</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
