<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Iniciar con tu cuenta</h1>
    <div class="login-form-container">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Correo electrónico" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor ingrese un correo electrónico valido.</div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Contraseña" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
          <div class="invalid-feedback" v-if="formErrors.password">Por favor ingrese su contraseña.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label class="form-check-label" for="remember">Recordarme</label>
        </div>
        <p class="text-danger" v-if="cloudError==='badCombo'"><small>Las credenciales que ingresó no están asociadas con una cuenta. Por favor revise su correo electrónico y / o contraseña y vuelva a intentarlo.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Se produjo un error al procesar su solicitud. Por favor verifique su información y vuelva a intentarlo, o <a href="/contact">contactar a soporte</a> si el problema persiste.</small></p>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Iniciar sesión</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/password/forgot">Olvidó la contraseña?</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
