<div id="contact" v-cloak>
  <div class="container">
    <h1 class="text-center">Contacto</h1>
    <div class="contact-form" v-if="!cloudSuccess">
      <p class="text-center">
        ¿Tiene alguna pregunta para nosotros? Tal vez algunos comentarios? Nos encanta hablar con los usuarios sobre Tagenta, y nos
        complace responder preguntas sobre nuestro proyecto de investigación, colaboraciones o un reporte de la página. Envíenos una nota y nos pondremos en contacto con
        usted lo antes posible.
      </p>
      <hr/>
      <ajax-form action="deliverContactFormMessage" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nombre</label>
          <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Néstor E. Suat Rojas" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Por favor, háganos saber cómo dirigirnos a usted.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Correo Electrónico</label>
          <input class="form-control" id="email-address" name="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="nsuat@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor ingresa una dirección electrónica válida.</div>
        </div>
        <div class="form-group">
          <label for="topic">Asunto</label>
          <input class="form-control" id="topic" name="topic" type="text"  :class="[formErrors.topic ? 'is-invalid' : '']" v-model.trim="formData.topic" placeholder="Reporte de error" autocomplete="none">
          <div class="invalid-feedback" v-if="formErrors.topic">Por favor, elija un asunto para su mensaje.</div>
        </div>
        <div class="form-group">
          <label for="message">Mensaje</label>
          <textarea class="form-control" id="message" name="message" :class="[formErrors.message ? 'is-invalid' : '']" v-model.trim="formData.message" placeholder="Cuál es la diferencia entre un mensaje de &quot;accidente de tránsito&quot; y &quot;no relacionado&quot;." autocomplete="none"></textarea>
          <div class="invalid-feedback" v-if="formErrors.message">El mensaje no puede estar vacío.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Se produjo un error al procesar su solicitud. Por favor verifique su información y vuelva a intentarlo, o<a href="/contact">contacta a soporte</a> Si los errores persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Enviar mensaje</ajax-button>
        </div>
      </ajax-form>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p class="text-center">Gracias por contactarnos!</p>
      <hr/>
      <p>Hemos recibido tu mensaje y alguien de nuestro equipo te responderá pronto.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
