<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <img alt="Tagenta.io logo" class="w-100" src="/images/tagenta-logo.png"/>
      <h2 class="text-muted sm">Etiquetador de reportes de eventos e incidentes de tránsito. <a href="https://youtu.be/QBb0tNAaS_4" target="_blank" class="text-info text"><h4>Ver guía.</h4></a></h2>
      <div>
        <div class="more-info-text text-info" @click="clickHeroButton()">
          <div class="text">Comienza</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
      <div class="card-deck mt-5">
        <div class="card bg-dark text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>@transmisitp accidente en Av. Boyacá después de la 116, hay una persona fallecida, afectando el tráfico desde la Cl 72</p>
            <footer class="blockquote-footer">
              <small>
                Algún usuario de <cite title="Source Title">Twitter</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card bg-dark text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>@BogotaTransito choque saliendo del deprimido de la 100 con 15... por favor ayuda con un policia de tránsito! Cierre total.</p>
            <footer class="blockquote-footer">
              <small>
                Algún usuario de <cite title="Source Title">Twitter</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card bg-dark text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>Incidente vial entre bus 🚍 y un ciclista‍ 🚴🏽 en la calle 140 con carrera 12, sentido occidente - oriente. Unidad de 👮@TransitoBta y 🚑 asignadas.</p>
            <footer class="blockquote-footer">
              <small>
                Algún usuario de <cite title="Source Title">Twitter</cite>
              </small>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper bg-dark" role="scroll-destination">
    <div class="container">
      <ajax-form action="uploadTag" :syncing,sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingUploadTagForm" @submitted="submittedUploadTagForm($event)">
        <div class="about text-center">
          <div class="question">¿El texto se refiere a un <span class="font-weight-bold text-uppercase">reporte de un evento de tránsito</span> ocurrido?</div>
          <div class="text-info">#accidente #choque# #incidente vial</div>
          <div class="post-wrapper text-muted bg-white rounded" ref="textPost">
            <p>{{post.text}}</p>
          </div>
          <div class="form-inline justify-content-center">
            <!--<label for="inputEmailUser" class="my-1 mr-2">Su correo electrónico:</label>-->
            <input id="inputEmailUser" v-model="uploadFormData.username" :disabled="isLogged" type="hidden" placeholder="username@unal.edu.co"
                   class="form-control my-1 mr-sm-2" :class="{ 'is-invalid' : !isEmail}">
            <a href="javascript:void(0)" class="btn btn-outline-light my-1 mr-sm-2" @click="startLabeling">
              <i class="fa fa-repeat" :hidden="!isEmail"></i><span :hidden="isEmail">Comenzar!</span>
            </a>
            <a href="/account" class="btn btn-outline-info my-1 mr-sm-2 ml-1">
              Ver progreso
            </a>
            <span class="invalid-feedback my-1 mr-sm-2">
              Inicie sesión con un usuario y contraseña correcta por favor.
            </span>
          </div>
        </div>
        <div class="features text-center">
          <div class="row">
            <div class="feature col">
              <button type="submit" class="icon bg-success btn" :disabled="disableButton" @click="setLabelFormData(1)">
                <i class="fa fa-check"></i>
              </button>
              <h4>Si</h4>
              <p>El texto claramente es un reporte de un accidente de tránsito en la vía, que ocurrió o está ocurriendo, involucra algún vehículo, peatón o ciclista. O también hace referencia a un choque de tránsito. <span class="btn btn-link" @click="clickOpenDashboardModalButton()">Ver ejemplos...</span>
              </p>
            </div>
            <div class="col feature">
              <button type="submit" class="icon bg-danger btn" :disabled="disableButton" @click="setLabelFormData(0)">
                <i class="fa fa-times"></i>
              </button>
              <h4>No</h4>
              <p>El texto no habla de ningún accidente de tránsito, menciona algún evento de tránsito, incluso no vial como un accidente aéreo, o simplemente habla sobre la vida cotidiana de los usuarios en las redes sociales. <span class="btn btn-link" @click="clickOpenDashboardModalButtonNegativo()">Ver ejemplos...</span>
              </p>
            </div>
            <div class="col feature">
              <button type="submit" class="icon bg-secondary btn" :disabled="disableButton" @click="setLabelFormData(2)">
                <i class="fa fa-ban"></i>
              </button>
              <h4>No responde</h4>
              <p>No esta claro, el texto hace referencia a un accidente de tránsito, pero hay ambigüedad, o hace referencia alguna estadistica o noticias relacionadas pero no un hecho ocurrido en la vía.</p>
            </div>
          </div>
          <!--<a class="btn btn-outline-success mt-5" href="/signup">Join now</a>-->
        </div>
      </ajax-form>
    </div>
  </div>
  <div class="more-info-wrapper">
    <div class="container">
      <div class="text-center">
        <h3>¿Qué es esto?</h3>
        <p>Esto es una investigación sobre accidentes de tránsito en la ciudad de Bogotá del grupo de investigación PLaS (Programming Languages and Systems) del <a target="_blank" href="https://ingenieria.bogota.unal.edu.co/es/dependencias/departamentos/departamento-de-ingenieria-de-sistemas-e-industrial.html">departamento de Ingeniería de Sistemas e Industrial</a> de la
          <a href="https://unal.edu.co" target="_blank">Universidad Nacional de Colombia</a></p>
        <p>El objetivo de esta página es encontrar colaboración de personas para etiquetar un conjunto de textos extraídos de Twitter ©, estas publicaciones son tomadas de los twitteros de Bogotá que en su día a día generan contenidos de toda índole, en esta ocasión se espera que las personas en esta página clasifiquen de los tweets mostrados cuales hacen referencia a accidentes de tránsito ocurridos en Bogotá y cuales no.</p>
        <!--<a class="btn btn-primary mt-3 mb-4 mr-2" target="_blank" href="https://courses.platzi.com/classes/sails-js/">Take the course</a>
        <a class="btn btn-outline-primary mt-3 mb-4" target="_blank" href="https://github.com/mikermcneil/ration">Download source code</a>-->
        <span class="btn btn-outline-primary mt-3 mb-4">Gracias por su contribución</span>
      </div>
    </div>
  </div>
  <modal class="example-modal" v-if="dashboardModalVisible" @close="closeDashboardModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Ejemplo de <span class="bg-success p-1 text-white rounded">Positivo</span></h2>
      <p>Textos relacionados a accidentes de tránsito.</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Reportes de Accidentes de tránsito.</h5>
      <p>El texto claramente es un reporte de un accidente de tránsito en la vía, que ocurrió o está ocurriendo, involucra algún vehículo, peatón o ciclista. O también hace referencia a un choque de tránsito.</p>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img1" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img2" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img3" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img4" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img5" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img6" alt="" class="col">
      </div>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Cerrar</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancelar</button>
    </div>
  </modal>
  <modal class="example-modal" v-if="dashboardModalVisibleNegativo" @close="closeDashboardModalNegativo()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Ejemplo de <span class="bg-danger p-1 text-white rounded">Negativo</span></h2>
      <p>Textos que no hacen referencia a ningún accidente de tránsito vehicular.</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Publicaciones sobre otros temas.</h5>
      <p>El texto no habla de ningún accidente de tránsito, menciona algún evento de tránsito, incluso no vial como un accidente aéreo, o simplemente habla sobre la vida cotidiana de los usuarios en las redes sociales.</p>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img1" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img2" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img3" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img4" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img5" alt="" class="col">
      </div>
      <div class="row mb-2 mx-4 p-3 bg-dark rounded">
        <img :src="imagesModal.img6" alt="" class="col">
      </div>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Cerrar</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancelar</button>
    </div>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
